/* Fonts */


/* Colors */

:root {
    --maximum-yellow-red: rgb(252, 193, 74);
    --black-coffee: #6a564e;
    --celadon: #96e6b3;
    --amazon: rgb(74, 120, 86);
    --tuscany: #b7999cff;
    --page-bg: #ffffff;
    --search-bar: #E1E1E1;

}
  

/* Commom style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--page-bg);
}

h1 {
    margin: 2rem auto 1rem auto;
    font-size: 2rem;
    text-align: center;
    padding: 0 2px;
}

h2 {
    margin: 2rem auto 1rem auto;
    font-size: 0.7rem;
    text-align: center;
    padding: 0 2px;
}

.button {
    height: 3rem;
    width: 15vw;
    max-width: 185px;
    background: linear-gradient(155deg, rgba(150,230,179,1) 20%, rgba(252,193,74,1) 60%);
    border: 0px;
    border-radius: 1.5rem;
    text-align: center;
    color: var( --black-coffee);
    font-size: 1.2rem;
}

.button:focus {
    outline: none;
    filter: brightness(1.05);
}

/* Index page */

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index-cards {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 80%;
    margin: 20px;
    width: 45vw;
    max-width: 700px;
    max-height: 560px;
    height: 70vh;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 15px #00000047;
}

.card-1 {
    margin-right: 30px;
}

.card-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    padding-top: 2rem;
}

.card-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}
.card-img img{
    width: 100%;
    max-width: 30vw;
}

.card-sub {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    margin-top: 20px;
    max-width: 100%;
    align-self: start;
    padding: 4rem 0 0 2rem;
    font-size: 1.5rem;
}




/* Find breweries page */

.find-breweries-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.search-container {
    margin-bottom: 0.5rem;
}

.search-bar {
    height: 3rem;
    width: 55vw;
    background-color: var(--search-bar);
    border: 0px;
    border-radius: 1.5rem;
    text-align: center;
}

.search-bar:focus {
    outline: none;
    filter: brightness(0.95);

}

.error-message p{
    color: red;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

#map {
    width: 80vw;
    min-height: 75vh;
    box-shadow: 0px 1px 18px 0px #0000008a;
    margin-top: 1rem;
    
}

.map-brewery-name {
    color: var(--black-coffee);
    font-size: 1.35rem;
}

.map-brewery-address {
    color: var(--black-coffee);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0px;
}

.map-brewery-url a{
    color: var(--black-coffee);
    font-size: 1rem;
    font-weight: 400;
}


.hidden {
    display: none;
}

@media only screen and (max-width:420px) {
    h1 {
        font-size: 1.75rem;
    }

    .button {
        width: 30vw;
    }

    #map {
        width: 100vw;
    }

}